<!-- Navigation-->
 <div class="main" style="background-image: url(https://c8.alamy.com/comp/KNP7ED/fresh-fruits-in-cone-KNP7ED.jpg);">
  <nav class="navbar navbar-expand-lg navbar-light">
    <div class="container px-4 px-lg-5">
        <a class="navbar-brand text-warning fs-3 font" href=""><strong>My Recipie Book</strong></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
           <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                <li class="nav-item"><button (click)="logout()" class="nav-link text-warning">Logout</button></li>
            </ul>
        </div>
    </div>
  </nav>
    <table class="table container w-50 mt-5 table-hover">
      <thead class="table-dark">
        <tr>
          <th scope="col">No</th>
          <th scope="col">User</th>
          <th scope="col">Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let i of userdetails; let j=index">
          <th scope="row">{{j+1}}</th>
          <td>{{i}}</td>
          <td><button (click)="delete(i)" class="btn bg-danger text-white">Delete</button></td>
        </tr>
      </tbody>
    </table>
 </div>