 <!-- Navigation-->
 <!-- <nav class="navbar navbar-expand-lg navbar-light bg-black">
    <div class="container px-4 px-lg-5">
        <a class="navbar-brand text-warning" href="">My Recipies</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
           <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                <li class="nav-item"><button (click)="logout()" class="nav-link text-warning">Logout</button></li>
            </ul>
        </div>
    </div>
  </nav> -->

 <div class="main">
   <nav class="navbar navbar-expand-lg navbar-light">
    <div class="container px-4 px-lg-5">
        <a class="navbar-brand text-warning font fs-3" href=""><Strong>My Recipie Book</Strong></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
           <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                <li class="nav-item"><button (click)="logout()" class="nav-link text-warning">Logout</button></li>
            </ul>
        </div>
    </div>
  </nav>

    <div class="container w-50 my-5">
      <div class="row text-center">
        <div class="col-6 text-white">
         <h1> User Name</h1>
          <h2>{{user}}</h2>
        </div>
        <div class="col-6 text-white">
          <h1>Action</h1>
          <button type="button" class="btn bg-info text-white" data-bs-toggle="modal" data-bs-target="#exampleModal">Change Password</button>
              <button (click)="delete()" class="btn bg-danger text-white m-1">Delete</button>
        </div>
      </div>
   </div>
   <app-delete (onDelete)="deleteAccount($event)" (onCancel)="cancel()" [childuser]="shareuser"></app-delete>

    </div>

  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <label for="">Enter old Password</label>
         <input [(ngModel)]="psw" type="password" class="form-control">
         <label for="">Enter new Password</label>
         <input [(ngModel)]="newpsw" type="password" class="form-control">
         <label for="">Confirm Password</label>
         <input [(ngModel)]="cpsw" type="password" class="form-control">
         <p [ngClass]="pswmath?'c':''" class="text-danger">Password doesn't match</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button (click)="changepass()" type="button" class="btn btn-success">Change</button>
        </div>
      </div>
    </div>
  </div>