.he{
    height: 90vh;
}
input,textarea{
    border-radius: 20px;
    border-color: orange;    
}
::placeholder{
    color: orange;
    }
button{
    background-color: orange;
}
button:hover{
    background-color:black;
    color: orange;
}
h1{
    font-family:  serif;
}
input:hover{
    border-color: green;
}
textarea:hover{
    border-color: green;
}
textarea{
    height: 250px;
}