/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Foldit:wght@100&family=Lobster&family=Lora:ital@1&family=Open+Sans:wght@300&family=Poppins:wght@400;900&display=swap');
a{
    text-decoration: none;
}
.c{
    visibility: hidden;
}
.font{
    font-family: 'Lora', serif;
  }