.test{
  position: relative;
  text-align: center;
  color: white;
  background-color: black;
}
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
font-family: 'Lobster', cursive;
}
.cat{
  height: 200px;
  width: 50%;
  border-radius: 40%3
  3;
}